@import url("https://fonts.googleapis.com/css2?family=Solway:wght@400;500&display=swap");

#nprogress .bar {
  height: 3px !important;
  background-color: white !important;
}

* {
  font-family: "Solway";
}
#nprogress .spinner-icon {
  border-top-color: white;
  border-left-color: white;
}

.ql-editor {
  min-height: 300px;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.btn-outline-primary {
  color: #00bbbd !important;
  border-color: #00bbbd !important;
}

.btn-primary {
  background-color: #00bbbd !important;
  border-color: #00bbbd !important;
}

.title {
  color: #00bbbd;
}

.btn-outline-primary:hover {
  background-color: #00bbbd !important;
  color: white !important;
}

.btn-spec:hover {
  color: white !important;
  border-color: white !important;
}

.btn-spec {
  background-color: #00bbbd !important;
  color: white !important;
}

.foin:focus {
  border-color: transparent !important;
}

.text {
  color: #00bbbd !important;
}

.btn-to {
  background-color: white !important;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}
